*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/*PRIMERA PARTE */
#menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-image: url(images/bg-hero-desktop.svg);
    background-color: #EEF8FC ;
}
#menu img{
    width: 10%;
}
#menu button{
    padding: 1em;
    border: none;
    border-radius: 2em;
    font-size: 15px;
}

/*SEGUNDA PARTE */
#banner{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2em;
    align-items: center;
    margin: auto;
    background-image: url(images/bg-hero-desktop.svg);
    background-color: #EEF8FC ;
}
#banner div{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 60vh;
    gap: 2em;
    margin-left: 3em;
}
#banner div h1{
    margin-bottom: 1.5em;
    margin-left: 1em;
}
#banner div p{
    margin-left: 1.5em;
}
#banner button{
    padding: 1em 3em;
    float: right;
    margin-right: auto;
    border-radius: 2em;
    background-color: #D960A0;
    color: white;
    border: none;
    margin-top: 2em;
    margin-left: 2em;
}
#banner figure img{
    width: 75%;
    float: right;
    margin-right: 4em;
} 
/*TERCERA PARTE*/
#s-uno{
    background-color: white;
}
/*seccion 1*/
.p-uno{
    gap: 2em;
    margin: 4em ;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-radius: 0.5em;
    box-shadow: 0px 0px 20px rgb(219, 213, 213);
}
.p-uno div{
    width: 50%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    margin-left: 3em;
}
.p-uno figure img{
    width:200px;
    align-items: center;
}

/*seccion 2*/
.p-dos{
    gap: 2em;
    margin: 4em ;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    border-radius: 0.5em;
    box-shadow: 0px 0px 20px rgb(219, 213, 213);

}
.p-dos figure img{
    width:200px;
    align-items: center;
    display: flex;

}
.p-dos div{
    width: 50%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    margin-left: 3em;
}

/*seccion 3*/
.p-tres{
    gap: 2em;
    margin: 4em ;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-radius: 0.5em;
    box-shadow: 0px 0px 20px rgb(219, 213, 213);

}
.p-tres div{
    width: 50%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    margin-left: 3em;
}
.p-tres figure img{
    width:200px;
    align-items: center;
    display: flex;

}

/*parte exclusiva a la seccion grande numero 2*/

@media only screen and (min-width: 0px) and (max-width: 600px) {
    body {
      background-color:white;
    }
    #menu img{
        width: 50%;
    }
    #banner{
        flex-direction: column;
        align-items: flex-end;
    }
    #banner div{
      width: 100%;
      gap: 1em;  
    }
    #banner p{
        text-align: center;
    }
    #banner button{
        margin-right: 0%;
    }
    .p-uno{
        flex-direction: column-reverse;
        align-items: center;
        gap: 0;
    }
    .p-uno div{
        text-align: center;
        padding: 0.5em;
    }
  }